.TodoListItem {
	padding: 0 10px;
	border-bottom: 1px solid #dedede;

	.checkbox {
		width: 100%;
		:global {
			gap: 20px;

			.ant-checkbox-label {
				font-size: 32px;
			}

			.ant-checkbox-inner {
				width: 36px;
				height: 36px;
				border-radius: 50%;

				&::after {
					width: 12px !important;
					height: 20px !important;
					left: 10px !important;
					top: 16px !important;
					border-width: 1px !important;
					transform-origin: center;
				}
			}
		}

		&.checked {
			text-decoration: line-through;
			color: #dedede;
		}
	}
}
